@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --noise-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.noisy-backgound {
  background-image: url("https://assets.aceternity.com/noise.webp");
  background-repeat: repeat;
  opacity: var(--noise-opacity);
  mix-blend-mode: overlay;
}
